* {
  margin: 0;
  padding: 0;
}

.container {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 8px;
}

.container-img {
  width: 100%;                 
  aspect-ratio: 1 / 1;         
  border-radius: 12px;         /* Bordes redondeados */
  object-fit: cover;  
}

@media (max-width: 599px) {

  .container-img {
    width: 100%;
  }

}

@media (min-width: 600px) and (max-width: 839px) {
  .container-img {
        width: calc(50% - 4px); /* Ajuste para dos columnas con margen */
  }

}

@media (min-width: 840px) {
  .container {
    justify-content: center;
  }

  .container-img {
    width: calc(33.33% - 16px); /* 3 columnas, con margen entre ellas */
    max-width: 300px;           /* Limita el ancho máximo de cada imagen */
    height: 300px;
    
  }

}